/* All Dekstops ------------------------------------------------------------- */

body {
    background: linear-gradient(to bottom, #e0f2f4 0, #dcecf0 50%, #dde4ec 100%);
    background: -webkit-linear-gradient(to bottom, #e0f2f4 0, #dcecf0 50%, #dde4ec 100%);
    background: -o-linear-gradient(to bottom, #e0f2f4 0, #dcecf0 50%, #dde4ec 100%);
    background: -moz-linear-gradient(to bottom, #e0f2f4 0, #dcecf0 50%, #dde4ec 100%);
}

a:link,
a:visited,
a:hover,
a:active {
    color: #00679e;
}

input,
select {
    border-color: #e5e5e5;
}


/* Top Header --------------------------------------------------------------- */

#app-header {
    border-bottom-color: #dddddd;
    border-top-color: #009de0;
    background: linear-gradient(to bottom, #f7f7f7 0, #f2f2f2 70%, #ededed 100%);
    background: -webkit-linear-gradient(to bottom, #f7f7f7 0, #f2f2f2 70%, #ededed 100%);
    background: -o-linear-gradient(to bottom, #f7f7f7 0, #f2f2f2 70%, #ededed 100%);
    background: -moz-linear-gradient(to bottom, #f7f7f7 0, #f2f2f2 70%, #ededed 100%);
}

#app-header ul.left li {
    border-right-color: #dddddd;
}

#app-header ul.right li {
    border-left-color: #dddddd;
}

#app-header button {
    background-color: transparent;
    color: #666666;
}

#app-header button:hover {
    background-color: #f7f7f7;
}

#app-header button:active {
    background-color: #009de0;
    color: #fff;
}


/* Sections - Overall Layout -------------------------------------------------*/

#container>section {
    background-color: #fff;
}

#container>section>header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd;
}


/* Commons ------------------------------------------------------------------ */


/* Section Title ------------------------------------------------------------ */


/* Section Controls --------------------------------------------------------- */

.controls {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
}

.controls button {
    background-color: #fff;
    color: #666666;
}

.controls button:hover {
    background-color: #f7f7f7;
}

.controls button:active {
    background-color: #009de0;
    color: #fff;
}


/* Section search ----------------------------------------------------------- */

.search {
    background-color: #f2f2f2;
    border-top-color: #fff;
    border-bottom-color: #cccccc;
}


/* Left Side Container ------------------------------------------------------ */


/* Left Side Container - Content -------------------------------------------- */

#groupslist ol li a:link,
#groupslist ol li a:visited,
#groupslist ol li a:active {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    color: #000;
}

#groupslist ol li a:hover {
    background-color: #e5f2f9;
}

#groupslist ol li:nth-child(2) a {
    background-color: #007cc0;
    color: #fff;
}

#groupslist ol li:nth-child(2) a:hover {
    background-color: #e5f2f9;
    color: #000;
}


/* Left Container ----------------------------------------------------------- */


/* Left Container - Content --------------------------------------------------*/

#masterlist {
    background-color: #fff;
}

#masterlist article {
    background-color: #f2f2f2;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #fff;
}

#masterlist article:hover {
    background-color: #e5f2f9;
}

#masterlist article:nth-child(2) {
    background-color: #e5f2f9;
}


/* Right Container ---------------------------------------------------------- */


/* Right Container - Content ------------------------------------------------ */

#timeline {
    background-color: #fff;
}

#timeline article {
    background-color: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}


/* Right Side Container ----------------------------------------------------- */


/* Right Side Container - Content ------------------------------------------- */

#resources {
    background-color: #fff;
}

#resources ol li a:link,
#resources ol li a:visited,
#resources ol li a:active {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    color: #000;
}

#resources ol li a:hover {
    background-color: #e5f2f9;
}


/* Main Container ----------------------------------------------------------- */


/* Object Header ------------------------------------------------------------ */


/* Object Header - Title ---------------------------------------------------- */


/* Object Header - KPIs ----------------------------------------------------- */


/* Object Header - Attribute ------------------------------------------------ */


/* Object Header - Status --------------------------------------------------- */


/* Tabs --------------------------------------------------------------------- */

#tabMenu {
    border-bottom-color: #ddd;
}

#tabMenu ol li a:link,
#tabMenu ol li a:visited,
#tabMenu ol li a:active {
    border-bottom-color: #fff;
}

#tabMenu ol li a:hover {
    background-color: #e5f2f9;
    border-bottom-color: #e5f2f9;
}

#tabMenu ol li:first-child a {
    border-bottom-color: #007cc0;
}


/* Tab Container ------------------------------------------------------------ */