/* Top Header --------------------------------------------------------------- */

#app-header {
    border-top-width: 4px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    z-index: 999999;
}

#app-header ul.left {
    width: 3%;
}

#app-header ul.right {
    width: 10%;
    float: right;
}

#app-header ul li {
    min-width: 32px;
    height: 2.7rem;
}

#app-header ul.left li {
    width: 100%;
    border-right-width: 1px;
    border-right-style: solid;
}

#app-header ul.right li {
    width: 48%;
    border-left-width: 1px;
    border-left-style: solid;
}

#app-header button {
    width: 80%;
    height: 2.7rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "font-awesome";
}

#app-header #home:after {
    content: "\f0c9";
}

#app-header #account:after {
    content: "\f2bd";
}

#app-header #search:after {
    content: "\f002";
}


/* Sections - Overall Layout ------------------------------------------------ */

#container {
    width: 100%;
    height: 100%;
}

#container>section {
    height: 100%;
}


/* Header - Additional Content ---------------------------------------------- */

#drop-groupslist {
    width: 48%;
    margin-left: 2%;
}

#drop-groupslist legend {
    width: 35%;
    text-align: right;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#drop-groupslist legend span {
    float: none;
    display: inline;
}

#drop-groupslist legend span.count {
    margin-left: 2%;
}

#drop-groupslist legend,
#path fieldset legend span {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: lighter;
}

#drop-groupslist select {
    width: 62%;
    margin-left: 2%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}


/* Commons ------------------------------------------------------------------ */


/* Section Title ------------------------------------------------------------ */

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title span {
    float: none;
    display: inline;
}

.title,
.title span {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: lighter;
}


/* Section Controls --------------------------------------------------------- */

.controls ul {
    width: 100%;
}

#main-container .controls ul {
    width: 13%;
}

.controls ul li {
    min-width: 32px;
    max-width: 64px;
    width: 16%;
}

.controls ul.right {
    float: right;
}

.controls button {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2rem;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "font-awesome";
}

.right {
    float: right;
}


/* Controls Icons ----------------------------------------------------------- */

#hideLeftSidebar:after,
#hideLeftContainer:after,
#hideLeftSection:after {
    content: "\f0a8";
}

#hideRightSidebar:after,
#hideRightContainer:after,
#hideRightSection:after {
    content: "\f0a9";
}

#showLeftSidebar:after,
#showLeftContainer:after,
#showLeftSection:after {
    content: "\f0a9";
}

#showRightSidebar:after,
#showRightContainer:after,
#showRightSection:after {
    content: "\f0a8";
}


/* Section search ----------------------------------------------------------- */

.search {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 90%;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


/* Left Side Container ------------------------------------------------------ */


/* Left Side Container - Content -------------------------------------------- */

#groupslist {
    height: 100%;
    overflow-y: scroll;
}

#groupslist ol {
    width: 100%;
}

#groupslist ol li {
    width: 100%;
}

#groupslist ol li:last-child {
    margin-bottom: 15rem;
}

#groupslist ol li h1 {
    width: 100%;
}

#groupslist ol li a {
    width: 94%;
    float: left;
    display: block;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Left Container ----------------------------------------------------------- */

#left-container {
    z-index: 9999;
    box-shadow: -2px 0 2px 0 #cccccc;
    -moz-box-shadow: -2px 0 2px 0 #cccccc;
    -webkit-box-shadow: -2px 0 2px 0 #cccccc;
}


/* Left Container - Content --------------------------------------------------*/

#masterlist {
    height: 100%;
    overflow-y: scroll;
}

.list-object {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    cursor: pointer;
}

.list-object:last-child {
    margin-bottom: 15rem;
}

.list-object aside {
    font-weight: lighter;
}

.list-object header h2 {
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-object header h3 {
    float: right;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.2rem;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5%;
}

.list-object footer {
    width: 100%;
    margin-top: 0.5rem;
}

.list-object .less {
    display: none;
}

.list-object footer ul {
    width: 100%;
}

.list-object footer ul li {
    width: 48%;
    margin-top: 0.5rem;
}

.list-object footer ul li.right {
    text-align: right;
    float: right;
    margin-left: 4%;
}


/* Right Container ---------------------------------------------------------- */

#right-container {
    z-index: 9999;
    box-shadow: 2px 0 2px 0 #cccccc;
    -moz-box-shadow: 2px 0 2px 0 #cccccc;
    -webkit-box-shadow: 2px 0 2px 0 #cccccc;
}


/* Right Container - Content ------------------------------------------------ */

#timeline {
    height: 100%;
    overflow-y: scroll;
}

#timeline article {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    width: 92%;
}

#timeline article:last-child {
    margin-bottom: 11rem;
}

#timeline h3 {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

#timeline p.details {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.3rem;
}

#timeline p.message {
    padding-top: 1rem;
}


/* Right Side Container ----------------------------------------------------- */

#right-sidebar {
    float: right;
}


/* Right Side Container - Content ------------------------------------------- */

#resources {
    height: 100%;
    overflow-y: scroll;
}

#resources ol {
    width: 100%;
}

#resources ol li {
    width: 100%;
}

#resources ol li:last-child {
    margin-bottom: 9rem;
}

#resources ol li a:link,
#resources ol li a:visited,
#resources ol li a:active {
    width: 94%;
    float: left;
    display: block;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Main Container ----------------------------------------------------------- */

#main-container {
    z-index: 99999;
    box-shadow: 0 0 2px 0 #cccccc;
    -moz-box-shadow: 0 0 2px 2px #cccccc;
    -webkit-box-shadow: 0 0 2px 2px #cccccc;
}


/* Object Header ------------------------------------------------------------ */

#objectheader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}


/* Object Header - Title ---------------------------------------------------- */

#objectheader .header {
    width: 46%;
    padding-left: 2%;
    padding-right: 2%;
}

#objectheader .header .header-1 {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2rem;
}

#objectheader .header .header-2 {
    width: 100%;
    font-weight: lighter;
    padding-top: 0.2rem;
}


/* Object Header - KPIs ----------------------------------------------------- */

#objectheader .kpi {
    float: right;
    text-align: right;
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
}

#objectheader .kpi ol {
    width: 100%;
}

#objectheader .kpi ol li {
    width: 50%;
    margin-bottom: 1rem;
}

#objectheader .kpi .kpi-amount {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2rem;
    font-weight: bold;
    text-align: right;
}

#objectheader .kpi .kpi-title {
    width: 100%;
    font-weight: lighter;
    padding-top: 0.2rem;
    text-align: right;
}


/* Object Header - Attribute ------------------------------------------------ */

#objectheader .attribute {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

#objectheader .attribute ol {
    width: 100%;
}

#objectheader .attribute li,
#objectheader .status li {
    width: 16%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5rem;
}


/* Object Header - Status --------------------------------------------------- */

#objectheader .status {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

#objectheader .status ol {
    width: 100%;
}

#objectheader .status ol li {
    font-weight: bold;
}


/* Tabs --------------------------------------------------------------------- */

#tabMenu {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#tabMenu ol {
    width: 100%;
}

#tabMenu ol li {
    width: 15%;
}

#tabMenu ol li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    width: 96%;
    display: block;
    text-align: center;
}

#tabMenu ol li a:link,
#tabMenu ol li a:visited,
#tabMenu ol li a:hover,
#tabMenu ol li a:active {
    border-bottom-style: solid;
    border-bottom-width: 3px;
}


/* Tab Container ------------------------------------------------------------ */

#tabContainer {
    height: 100%;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
}

#tabContainer .form {
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

#tabContainer h4 {
    font-size: 1.4rem;
    line-height: 1.2rem;
}

#tabContainer .form .form-entry {
    margin-top: 1rem;
    width: 100%;
}

.form-content {
    margin-top: 1rem;
}

#tabContainer .form .form-entry .label,
#tabContainer .form .form-entry .amount {
    width: 50%;
}

#tabContainer .form .form-entry .amount {
    text-align: right;
}


/* Hide/Show Sections ------------------------------------------------------- */

#right-container.minimised header,
#right-container.minimised nav {
    pointer-events: none;
    text-indent: 99999px;
}

#tab-container {
    width: 100%;
}