@media screen and (min-device-width: 768px) and (orientation: portrait) {
    body {
        background-color: fuchsia;
    }
    #left-container {
        width: 15%;
    }
    #main-container {
        width: 80%;
    }
    #right-container {
        width: 5%;
    }
    /* Master List --------------------------------------------------------------------------------*/
    #left-container ol {
        width: 100%
    }
    #left-container ol li {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    #left-container ol li div {
        display: block;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    #left-container ol li div.header-1 {
        float: left;
        width: 71%;
        font-size: 1em;
        line-height: 1em;
        font-weight: lighter;
    }
    #left-container ol li div.kpi {
        float: right;
        width: 21%;
        text-align: right;
        font-size: 1em;
        line-height: 1em;
    }
    #left-container ol li div.header-2,
    #left-container ol li div.attribute-0,
    #left-container ol li div.attribute-1,
    #left-container ol li div.attribute-2,
    #left-container ol li div.attribute-3,
    #left-container ol li div.attribute-4 {
        display: none;
    }
}


/*
 @media screen and (min-width: 641px) and (max-width:1023px) and (orientation: portrait){
 body {
	background-color: purple;
 }
 #left-container {
	width: 5%;
 }
 #main-container {
	width: 90%;
 }
 #right-container {
	width: 5%;
 }
 }
 @media screen and (max-width: 640px) and (orientation: portrait){
 body {
	background-color: yellow;
 }
 #container {
	width: 100%;
 }
 #left-container {
	width: 100%;

 }
 #main-container {
	width: 100%;

 }
 #right-container {
	width: 100%;

 }
 }*/