#groupslist {
    height: 100%;
    overflow-y: scroll;
}

#groupslist ol {
    width: 100%;
}

#groupslist ol li {
    width: 100%;
}

#groupslist ol li:last-child {
    margin-bottom: 15rem;
}

#groupslist ol li h1 {
    width: 100%;
}

#groupslist ol li a {
    width: 94%;
    float: left;
    display: block;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}