#rightContainer {
    height: 100%;
    width: 100%;
}

#rightContainer .content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#rightContainer .content article {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    width: 92%;
}

#rightContainer .content article:last-child {
    margin-bottom: 11rem;
}

#rightContainer .content h3 {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

#rightContainer .content p.details {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 0.3rem;
}

#rightContainer .content p.message {
    padding-top: 1rem;
}

#rightContainer .content {
    background-color: #fff;
}

#rightContainer .content article {
    background-color: #f2f2f2;
    border-bottom: 1px solid #dddddd;
}