#leftSidebar{
    width: 100%;
    height: 100%;
}

#leftSidebar .content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#leftSidebar .content ol {
    width: 100%;
}

#leftSidebar .content ol li {
    width: 100%;
}

#leftSidebar .content ol li:last-child {
    margin-bottom: 15rem;
}

#leftSidebar .content ol li h1 {
    width: 100%;
}

#leftSidebar .content ol li a {
    width: 94%;
    float: left;
    display: block;
    font-weight: lighter;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#leftSidebar .content ol li a:link, #leftSidebar .content ol li a:visited, #leftSidebar .content ol li a:active {
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    color: #000;
}

#leftSidebar .content ol li a:hover {
    background-color: #e5f2f9;
}

#leftSidebar .content ol li:nth-child(2) a {
    background-color: #007cc0;
    color: #fff;
}

#leftSidebar .content ol li:nth-child(2) a:hover {
    background-color: #e5f2f9;
    color: #000;
}