#app-header {
    border-top-width: 4px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    z-index: 999999;
}

#app-header ul.left {
    width: 3%;
}

#app-header ul.right {
    width: 10%;
    float: right;
}

#app-header ul li {
    min-width: 32px;
    height: 2.7rem;
}

#app-header ul.left li {
    width: 100%;
    border-right-width: 1px;
    border-right-style: solid;
}

#app-header ul.right li {
    width: 48%;
    border-left-width: 1px;
    border-left-style: solid;
}

#app-header button {
    width: 80%;
    height: 2.7rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "font-awesome";
}

#app-header #home:after {
    content: "\f0c9";
}

#app-header #account:after {
    content: "\f2bd";
}

#app-header #search:after {
    content: "\f002";
}